/* anton-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/anton-v25-latin-regular.woff2') format("woff2");
}

/* slackey-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Slackey';
  font-style: normal;
  font-weight: 400;
  src: url('@fonts/slackey-v28-latin-regular.woff2') format("woff2");
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("@fonts/montserrat-v29-latin-regular.woff2") format("woff2");
}

/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("@fonts/montserrat-v29-latin-italic.woff2") format("woff2");
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("@fonts/montserrat-v29-latin-500.woff2") format("woff2");
}
/* montserrat-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("@fonts/montserrat-v29-latin-500italic.woff2") format("woff2");
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("@fonts/montserrat-v29-latin-600.woff2") format("woff2");
}

/* montserrat-600italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("@fonts/montserrat-v29-latin-600italic.woff2") format("woff2");
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("@fonts/montserrat-v29-latin-700.woff2") format("woff2");
}

/* montserrat-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("@fonts/montserrat-v29-latin-700italic.woff2") format("woff2");
}

/* montserrat-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("@fonts/montserrat-v29-latin-800.woff2") format("woff2");
}

/* montserrat-800italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("@fonts/montserrat-v29-latin-800italic.woff2") format("woff2");
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("@fonts/montserrat-v29-latin-900.woff2") format("woff2");
}

/* montserrat-900italic - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("@fonts/montserrat-v29-latin-900italic.woff2") format("woff2");
}