#multiplication-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-label {
  padding: var(--padding);
  border: var(--border);
  border-radius: 5px 5px 0 0;
  background-color: var(--slate-3);
  font-family: "Chewy";
  text-align: center;
  color: black
}

.card {
  padding: 8px 8px 7px 8px;
  border: var(--border);
  border-radius: 0 0 5px 5px;
  background-color: var(--slate-1);
  font-family: "Chewy";
}

.row-wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}

.number {
  width: max-content;
  color: black
}

input {
  width: 38px;
  font-family: "Walter Turncoat";
  font-size: 1rem;
  padding-left: 3px;
  margin-bottom: 2px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 30px;
}

.correct-answer {
  border-radius: var(--border-radius);
  border: 2px solid var(--green-6);
}

.incorrect-answer {
  border-radius: var(--border-radius);
  border: 2px solid var(--red-4);
}