:root {
  --padding: 5px;
  --line-break: 1rem;
  --margin-top: 1rem;
  --margin-right: 5px;
  --margin-left: 5px;
  --margin-bottom: 1rem
}

.margin-bottom {
  margin-bottom: var(--margin-bottom);
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}