.avatar-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 30px;

  div img {
    width: 200px;
  }
}

.info-container {
  margin-bottom: 60px;
}

.contact-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}
