@import "/src/css/index.css";
@import "/src/css/imports.css";

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

wc-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
