@import "/src/css/index.css";
@import "/src/css/imports.css";

:root.light {
  --background: white;
  --color: black;
  --margin-bottom: 1rem
}

:root.dark {
  --background: black;
  --color: white;
}

body {
  background: var(--background);
  color: var(--color);
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

wc-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


