@import "/src/css/imports.css";

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  font-family: "Walter Turncoat", sans-serif;
}

h1 {
  text-align: center;
  margin: 30px 0 50px 0;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  justify-content: center;
  gap: 10px;
}

.card {
  padding: 8px 1px 6px 8px;
  border: var(--border);
  border-radius: var(--border-radius);
}

input {
  width: 38px;
  font-family: "Walter Turncoat";
  font-size: 1rem;
  padding-left: 3px;
  margin-bottom: 2px;
}

.row-wrapper {
  display: grid;
  grid-template-columns: 55px 20px 30px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
  
}

button {
  padding: 5px;
}

.correct-answer {
  border-radius: var(--border-radius);
  border: 2px solid var(--green-6);
}

.incorrect-answer {
  border-radius: var(--border-radius);
  border: 2px solid var(--red-4);
}





